
# Based on by https://www.gitignore.io/api/macos,maven,gradle,eclipse,netbeans,intellij+iml,visualstudiocode

### Intellij+iml ###

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# IntelliJ
/out/
*.iml
modules.xml
.idea/misc.xml
*.ipr

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

### Gradle ###
/.gradle/
/build/






